.hero {
  width: 100%;
  height: 600px;
  /*background: #1f2833; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.description {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  /* background: url(../Assets/ImgSite/bgUp.svg); */
}
.bg {
  animation: slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #66fcf1 50%, #45a29e 50%);
  background: url(../Assets/svg/abstract-envelope-cool.svg);
  background-repeat: no-repeat;
  bottom: -5%;
  left: -50%;
  opacity: 0.5;
  position: fixed;
  right: -50%;
  top: 0;
  z-index: -1;
  width: 100%;
}

.bg2 {
  animation-direction: alternate-reverse;
  animation-duration: 4s;
}

.bg3 {
  animation-duration: 5s;
}

@keyframes slide {
  0% {
    transform: translateX(45%);
  }
  100% {
    transform: translateX(15%);
  }
}

.content {
  box-sizing: border-box;
  /* padding: 10vmin; */
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  height: 100%;
  margin-top: 0;
}

.content h1 {
  color: #66fcf1;
  font-size: 56px;
  text-align: left;
  margin: 0;
  padding-bottom: 32px;
}
.content h1 span {
  font-size: 40px;
  font-weight: normal;
}
.content .siteMission {
  color: #c5c6c7;
  width: 92%;
  font-size: 1.75rem;
  text-align: justify;
  text-justify: inter-word;
  padding-bottom: 32px;
  font-family: "Rubik", sans-serif;
}
.content .siteMission span {
  font-size: 1.75rem;
  color: #66fcf1;
  font-weight: 600;
}
.content .button {
  color: #66fcf1;
  border: 2px solid #66fcf1;
  font-weight: bold;
  border-radius: 12px;
  transition: all ease-in 400ms;
  font-family: "Rubik", sans-serif;
}

.content .button:hover {
  background-color: #66fcf1;
  border: 1px solid #1f2833;
  color: #1f2833;
  font-weight: bold;
  box-shadow: 10px 10px 10px rgba(31, 40, 51, 0.8);
  transform: translateY(-8px);
  transition: all ease-in 400ms;
}
.trending {
  background: #1f2833;

  width: 50%;
  height: 100%;
}
.trending img {
  width: 100%;
}

@media only screen and (max-width: 1024px) {
  .content h1 {
    font-size: 44px;
  }
  .content h1 span {
    font-size: 30px;
  }
  .content .siteMission,
  .content .siteMission span {
    font-size: 1.25rem;
  }
  .searchBox input {
    font-size: 0.9rem !important;
  }
  .description .bg {
    width: 200%;
    left: -90%;
  }
}
@media only screen and (max-width: 768px) {
  .content h1 {
    font-size: 34px;
  }
  .content h1 span {
    font-size: 28px;
  }
  .content .siteMission,
  .content .siteMission span {
    font-size: 1.05rem;
  }
  .searchBox input {
    font-size: 0.8rem !important;
  }
  .description .bg {
    width: 200%;
    left: -90%;
  }
}
@media only screen and (max-width: 448px) {
  .hero {
    display: block;
    height: 320px;
  }
  .trending {
    display: none;
  }
  .description {
    width: 100%;
  }
  .content {
    margin-bottom: 0;
    padding-bottom: 1rem;
  }
  .content h1 {
    font-size: 32px;
    padding-bottom: 16px;
    text-align: center;
    width: 100%;
  }
  .content h1 span {
    font-size: 20px;
  }
  .content .siteMission {
    width: 100%;
    padding-bottom: 16px;
  }
  .content .siteMission,
  .content .siteMission span {
    font-size: 0.75rem;
  }
  .searchBox input {
    font-size: 0.8rem !important;
    margin-bottom: 0.75rem !important;
  }
  .searchBox svg {
    display: none;
  }
  .searchSection {
    justify-content: center !important;
  }
}
