.backdropSection {
  display: block;
  position: relative;
  width: 100%;
  height: 85vh;
}
.backdropSection .backdrop {
  position: absolute;
  width: 70%;
  height: 100%;
  right: 0;
  object-fit: cover;
  object-position: right center;
  opacity: 1;
  z-index: 6;
  overflow: clip;
}
.backdropSection .gradientLayer {
  position: absolute;
  flex-direction: column;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #0a0d10 30%, rgba(10, 13, 16, 0));
  z-index: 7;
}
.backdropSection .gradientLayer h2 {
  width: 40%;
  color: #66fcf1;
  font-size: 56px;
  text-align: left;
  margin-left: 1rem;
  padding-bottom: 1rem;
  font-family: "Rubik", sans-serif;
}
.backdropSection .gradientLayer .genres {
  width: 40%;
  margin-left: 1rem;
  padding-bottom: 32px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: "Rubik", sans-serif;
  color: #45a29e;
}
.backdropSection .gradientLayer .genres a {
  margin-right: 1rem;
}
.backdropSection .gradientLayer .genres a::before {
  content: "◈";
}
.backdropSection .gradientLayer .tagline,
.backdropSection .gradientLayer .overview {
  color: #c5c6c7;
  margin-left: 1rem;
  width: 36%;
  font-size: 1.2rem;
  text-align: justify;
  text-justify: inter-word;
  padding-bottom: 32px;
  font-family: "Rubik", sans-serif;
}
.backdropSection .gradientLayer .overview {
  font-size: 1rem;
  font-weight: 200;
}
.backdropSection .gradientLayer .timeAndScore {
  color: #c5c6c7;
  margin: 1rem;
  text-align: left;
  padding-bottom: 1rem;
  font-family: "Rubik", sans-serif;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.backdropSection .gradientLayer .timeAndScore .score {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 3rem;
}

.backdropSection .gradientLayer .timeAndScore .runtime {
  display: flex;
  justify-content: center;
  align-items: center;
}


@media only screen and (max-width: 1024px) {
  .backdropSection .gradientLayer h2 {
    font-size: 40px;
  }
  .backdropSection .gradientLayer h2,
  .backdropSection .gradientLayer .genres,
  .backdropSection .gradientLayer .tagline,
  .backdropSection .gradientLayer .overview,
  .backdropSection .gradientLayer .overview .timeAndScore {
    width: 45%;
  }
   .score{
    margin-left: 1rem !important;
  }
}

@media only screen and (max-width: 768px) {
  .backdropSection .gradientLayer h2 {
    font-size: 32px;
  }
  .backdropSection .gradientLayer h2,
  .backdropSection .gradientLayer .genres,
  .backdropSection .gradientLayer .tagline,
  .backdropSection .gradientLayer .overview,
  .backdropSection .gradientLayer  .timeAndScore {
    width: 45%;
  }
  .backdropSection .gradientLayer .timeAndScore{
    align-items: flex-start;
    flex-direction: column;
  }
  .backdropSection .gradientLayer .timeAndScore .score{
    margin-left: 0 !important;
  }
}

@media only screen and (max-width: 448px) {
  .backdropSection .gradientLayer h2 {
    font-size: 28px;
    text-align: center;
  }
  .backdropSection .gradientLayer h2,
  .backdropSection .gradientLayer .genres,
  .backdropSection .gradientLayer .tagline,
  .backdropSection .gradientLayer .overview,
  .backdropSection .gradientLayer  .timeAndScore {
    width: 92%;
  }
  .backdropSection .gradientLayer .timeAndScore{
    align-items: center;
    flex-direction: column;
  }
  .backdropSection .gradientLayer .timeAndScore .score{
    margin-left: 0 !important;
  }
}

