:root {
  --text-color-dark:#66fcf1;
  --text-color-light:#45a29e;

  --border-color-dark: #66fcf1;
  --border-color-light:#45a29e;

  --bg-color-dark:#1f2833;
  --bg-color-light:#c5c6c7;

  --overview-color-dark:#fff;
  --overview-color-light:#1f2833b2;

  --logo-dark:url(../src/Assets/LogoSite/logo.png);
  --logo-light:url(../src/Assets/LogoSite/3P.png);

  --bg-darkblue-color: #1f2833;
}

.light-theme {
  --text-color: var(--text-color-light);
  --border-color: var(--border-color-light);
  --bg-color: var(--bg-color-light);
  --overview-color: var(--overview-color-light);
  --logo-cool:var(--logo-light);
}

.dark-theme {
  --text-color: var(--text-color-dark);
  --border-color: var(--border-color-dark);
  --bg-color: var(--bg-color-dark);
  --overview-color: var(--overview-color-dark);
  --logo-cool:var(--logo-dark);

}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Rubik";
  background-color: var(--bg-darkblue-color);

}
.container {
  width: 100%;
  max-width: 1310px;
  margin: 0 auto;
}
h2,
h3,
h4,
p {
  margin: 0;
}
a {
  color: inherit;
  text-decoration: none;
}
